footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #4f5393;
    color: white;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    }
